@model FindusWebApp.Models.OrderViewModel
@using System.Collections.Generic
@using WcOrder = WooCommerceNET.WooCommerce.v2.Order

@{
    //var Order = TempData["order"] as WooCommerceNET.WooCommerce.v2.Order;
    var Invoice = TempData["invoice"] as Fortnox.SDK.Entities.Invoice;
    var InvoiceAccrual = TempData["invoiceAccrual"] as Fortnox.SDK.Entities.InvoiceAccrual;

    var Order = @Model != null ? @Model.Order : null;
    var OrderSelect = @Model != null ? @Model.OrderSelect : null;

    bool OnlyWc = Invoice == null && InvoiceAccrual == null;
    bool Verification = !OnlyWc;

}

@if (ViewBag.Error != null)
{
    <p style="font-weight:normal;color:red">
    <br />
    @Html.Raw(ViewBag.Error)
</p>
}
@if (ViewBag.Message != null)
{
    <p style="font-weight:normal;color:green">
    <br />
    @Html.Raw(ViewBag.Message)
</p>
}

<div class="@(OnlyWc ? "" : "side-bar-left")">
    <h1>WooCommerce</h1>
    <div class="center-block">
        @Html.Partial("Partial/DateRangePicker")
    </div>
    @if (@OrderSelect != null)
    {
        @Html.DropDownList("Orders", Model.OrderSelect, new { @class = "form-control center-block", @style="width: auto;",
    @onchange="changeOrder(this)" })
        <a asp-controller="Findus" asp-action=@(Verification ? "Order" : "Verification")
        asp-all-route-data="@Model.OrderRouteData">
            @(Verification ? "Gå till Order" : "Verifiera Order")
        </a>
    }

    @if (@Order != null)
    {
        @Html.DisplayFor(m=> @Order)
    }

</div>
@if (!OnlyWc)
{
    <div class="side-bar-right">

    <div class="vertical-divider"></div>

    <div>
        <h1>Fortnox</h1>
        @if (@Invoice != null)
            {
                @Html.DisplayFor(m => @Invoice)
            }
            @if (@InvoiceAccrual != null)
            {
                @Html.DisplayFor(m => @InvoiceAccrual)
            }

            @*if(@VerificationData != null) { } *@

        </div>
    </div>
}

<div style="clear:both"></div>

<script>
    function changeOrder(e) {
        location.href = updateUrlParam(location.href, "orderId", e.selectedOptions[0].value);
    }
    document.addEventListener('DOMContentLoaded', function () {
        var orderId = document.getElementById('Orders').value;
        if (location.href.indexOf('orderId=' + orderId) == -1 && orderId != null)
            location.href = updateUrlParam(location.href, "orderId", orderId);
    }, false);
</script>