@model FindusWebApp.Models.OrderViewModel

@{
    System.Globalization.CultureInfo Swe = new System.Globalization.CultureInfo("sv-SE");
}

<div class="form-group">
    <div class="center-block">
        <partial name="Partial/DateRangePicker" />
    </div>
    @if (@Model != null)
    {

        @if (Model.OrderSelect != null)
        {
            <table class="Grid" cellpadding="0" cellspacing="0">
                <tr>
                    <th></th>
                    <th scope="col">Order</th>
                    <th></th>
                    <th scope="col">Select</th>
                </tr>
                @foreach (var order in Model.OrderSelect)
                {
                    string warning = @Model.GetWarning(order.Value);
                    //string error = warning == null ? @Model.GetError(order.Value) : null;
                    string error = @Model.GetError(order.Value);
                    var invoice = error != null ? @Model.GetInvoice(order.Value) : null;

                    <tr>
                        <td style="width: 40px">
                            <img src="~/images/plus.png" id="@order.Value" style="width: 100%" />
                        </td>

                        <td>
                            @Html.ActionLink(order.Text,"Verification", "Findus", new {orderId = order.Value})
                            <div class="text-danger">@Html.Raw(System.Web.HttpUtility.HtmlEncode(error))</div>
                            <div class="text-warning">@Html.Raw(System.Web.HttpUtility.HtmlEncode(warning))</div>
                        </td>
                        <td>
                            @if (warning == null && error == null)
                            {
                                @Html.ActionLink("Send to Fortnox","SendToFortnox", "Findus", new {orderId = order.Value})
                            }
                        </td>
                        <td><input type='checkbox' value='false' /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="999">
                            <div style="display:none" id="inv-@order.Value">
                                @if (invoice != null)
                                {
                                    //@Html.Partial("Partial/InvoiceAccrual", invoice)
                                    <partial name="Partial/InvoiceAccrual" model="invoice" async />
                                }
                                else
                                {
                                    //@Html.Partial("DisplayTemplates/Order", @Model.GetOrder(order.Value))

                                    <partial name="DisplayTemplates/Order" model="@Model.GetOrder(order.Value)" async />
                                }
                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
    }
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {

        $('tr:has("td:empty")').hide();

        $("body").on("click", "img[src*='plus.png']", function () {
            var orderId = $(this).attr("id");
            var div = document.getElementById("inv-" + orderId);
            div.style.display = "block"

            $(this).closest("tr").next().show();
            $(this).attr("src", "/images/minus.png")
        });
        $("body").on("click", "img[src*='minus.png']", function () {
            var orderId = $(this).attr("id");
            var div = document.getElementById("inv-" + orderId);
            div.style.display = "none"
            $(this).closest("tr").next().hide();
            $(this).attr("src", "/images/plus.png")
        });
    });
</script>