@model Fortnox.SDK.Entities.Invoice
<style>
    table {
        width: 100%;
    }
</style>

<h2>Invoice</h2>
<table>
    <tr>
        <th>Valutakurs (SEK-EUR)</th>
        <th>Betalningsdatum?</th>

        <th>Kund</th>
        <th>Stad</th>
        <th></th>
    </tr>
    <tr>
        <td>@($"{Model.CurrencyRate:0.######}")</td>
        <td>@Html.DisplayFor(m => @Model.FinalPayDate)</td>

        <td>@Model.CustomerName</td>
        <td>@Model.City</td>
    </tr>
</table>