@model WooCommerceNET.WooCommerce.v2.Order
@{
    var StripeFee = ViewData["stripeFee"] as decimal?;
    var StripeNet = ViewData["stripeNet"] as decimal?;
    var TotalSek = ViewData["totalSek"] as decimal?;
    var CurrencyRate = ViewData["currencyRate"] as decimal?;
}
<style>
    table {
        width: 100%;
    }
</style>

@if (@Model != null)
{
    <h2>Kund</h2>
    <table>
    <tr>
        <th style="width: 30%;">Land</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>@Model.shipping.country</td>
        <td>@Model.billing.email</td>
    </tr>
</table>
    <br />
    <h2>Beställning</h2>
    <table>
    <tr>
        <th>Status</th>
        <th>Valuta</th>
        <th>Betalningsmetod</th>
    </tr>
    <tr>
        <td>@Model.status</td>
        <td>@Model.currency</td>
        <td>@Model.payment_method_title (@Model.payment_method)</td>
    </tr>
</table>
    @if (StripeFee != null && StripeNet != null)
    {
        <br/>
        <h3>Stripe</h3>
        <table>
    <tr>
        <th>Belopp</th>
        <th>Växelkurs</th>
        <th>Avgift</th>
        <th>Netto</th>
    </tr>
    <tr>
        <td>@Model.total @Model.currency -> @($"{TotalSek:0.##} kr")</td>
        <td> 1.0 @Model.currency -> @($"{CurrencyRate:0.######} kr")</td>
        <td>@($"{StripeFee:0.##} kr")</td>
        <td>@StripeNet kr</td>
    </tr>
</table>
    }
    <table>
</table>

    <br />
    <h3 style="display: inline;">Cost Summary </h3><span>(in @Model.currency)</span>
    <table>
    <col>
    <col>
    <col>
    <tr>
        <th colspan="2">Discount</th>
        <th colspan="2">Shipping</th>
        <th colspan="3">Summary</th>
    </tr>
    <tr>

        <th scope="col">Tax</th>
        <th scope="col">Total</th>

        <th scope="col">Tax</th>
        <th scope="col">Total</th>

        <th scope="col">Cart Tax</th>
        <th scope="col">Total Tax</th>
        <th scope="col">Total</th>

    </tr>
    <tr>

        <td>@Model.discount_tax</td>
        <td>@Model.discount_total</td>

        <td>@Model.shipping_tax</td>
        <td>@Model.shipping_total</td>

        <td>@Model.cart_tax</td>
        <td>@Model.total_tax</td>
        <td>@Model.total</td>
    </tr>

</table>
    if (@Model.coupon_lines.Count != 0)
    {
        <br />
        <h3>Coupons</h3>
        <table>
    <tr>
        <th>Code</th>
    </tr>
    <tr>
        @foreach (var coupon in @Model.coupon_lines)
                {
                    <td>@coupon.code</td>
                }
            </tr>
        </table>
    }
    <br />
    <h3>Items</h3>
    <table>
    @* <tr>
        <td>Total Tax</td>
        <td>Total Cost</td>
        <td>Price</td>
        </tr> *@

    <tr>
        <th>SKU</th>
        @* <th colspan="2" style="vertical-align : middle;text-align:center; width: 50%;">Taxes</th> *@
        <th>Price</th>
        <th>Tax</th>
        <th>Quantity</th>
        <th>Total Cost</th>
    </tr>
    @foreach (var product in @Model.line_items.OrderByDescending(i => i.price))
        {
            <tr>
                <td>@product.sku</td>
                <td>@product.price</td>
                <td>@product.total_tax</td>
                <td>@product.quantity</td>
                <td>@product.total</td>

                @* @foreach(TaxModel tax in product.Taxes as IList<TaxModel>) {
                    <td>@tax.SubTotal</td>
                    <td>@tax.Total</td>
                    } *@

            </tr>
            @* @foreach(TaxModel tax in product.Taxes as IList<TaxModel>) {
                <tr>
                <td>@tax.SubTotal</td>
                <td>@tax.Total</td>
                </tr>
                } *@
        }
    </table>
}